<template>
    <card>
        <h5 slot="header" class="title">Login</h5>
        <form @submit.prevent="logInUser(login)">
            <div class="row">
            <div class="col-md-6">
                <base-input type="text" v-model="login.username" label="Enter your e-mail address" placeholder="Username" counter required/>
            </div>
            <div class="col-md-6">
                <base-input 
                type="password" 
                v-model="login.password" 
                label="Enter your password" 
                placeholder="Password" 
                counter 
                required
                />
            </div>
            <div class="col-md-2">
                <base-button native-type="submit" type="primary" class="btn-fill">Login</base-button>
            </div>
            </div>
        </form>
    </card>
</template>

<script>
export default {
  /*data() {
    return {
      login: {
        username: '',
        password: ''
      }
    }
  },*/
  data: () => ({
    login: { username: '', password: '', showPassword: false },
  }),
  methods: {
    async logInUser(login) {
      try {
        let response = await this.$auth.loginWith('local', { data: this.login })
        console.log(response)
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>