<template>
  <card>
    <h5 slot="header" class="title">Register Profile</h5>
    <form @submit.prevent="signUp(userData)">
        <div class="row">
            <div class="col-md-4">
                <base-input
                    v-model="userData.email"
                    label="Enter your e-mail address"
                    counter
                    required
                >
                </base-input>
            </div>
            <div class="col-md-4">
                <base-input
                    v-model="userData.username"
                    label="Enter your username"
                    counter
                    required
                >
                </base-input>
            </div>
            <div class="col-md-4">
                <base-input
                    v-model="userData.password"
                    label="Enter your password"
                    required
                    :append-icon="
                        userData.showPassword ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    :type="userData.showPassword ? 'text' : 'password'"
                    @click:append="
                        userData.showPassword = !userData.showPassword
                    "
                >
                </base-input>
            </div>
            <div class="col-md-4">
                <base-input
                    v-model="userData.password2"
                    label="Confirm password"
                    :append-icon="
                        userData.showPassword2 ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    :type="userData.showPassword2 ? 'text' : 'password'"
                    required
                    @click:append="
                        userData.showPassword2 = !userData.showPassword2
                    "
                >
                </base-input>
            </div>
        </div>
        <base-button native-type="submit" type="primary" class="btn-fill">
            Register
        </base-button>
    </form>
  </card>
</template>

<script>
export default {
  data: () => ({
    userData: {
      username: '',
      email: '',
      password: '',
      password2: '',
      showPassword: false,
      showPassword2: false,
    },
  }),
  methods: {
    async signUp(registrationInfo) {
      await this.$axios
        .$post('users/', registrationInfo)
        .then((response) => {
          console.log('Successful')
        })
        .catch((error) => {
          console.log('errors:', error.response)
        })
      this.$auth.loginWith('local', {
        data: registrationInfo,
      })
    },
  },
}
</script>