<template>
    <div class="authentication-buttons">
        <div v-if="$auth.loggedIn">
            {{ $auth.user.email }}
            <v-btn icon to="/logout" class="logout-btn">
            <v-icon light @click="$auth.logout()">mdi-logout</v-icon>
            </v-btn>
        </div>
        <div v-else>
            <v-btn icon to="/login" class="login-btn">
            <v-icon>mdi-login</v-icon>
            </v-btn>
            <v-btn icon to="/register" class="register-btn">
            <v-icon>mdi-account-key-outline</v-icon>
            </v-btn>
        </div>
    </div>
</template>
<script>
export default {};
</script>
<style></style>
